
<ng-template #divLoading>

  <categoria-loading></categoria-loading>
</ng-template>


<div class="grid" *ngIf="categoria; else divLoading">


<mat-card class="col-12 sm:col-6">

<mat-card-header>
  <mat-card-title>
    {{categoria.nombre}}
  </mat-card-title>
  <mat-card-subtitle>
    {{categoria.descripcion}}
  </mat-card-subtitle>
</mat-card-header>

<mat-card-content>

</mat-card-content>

<mat-card-footer>
  <button mat-button color="primary" [routerLink]="['/categorias/list']">Regresar<mat-icon>back</mat-icon></button>
</mat-card-footer>
</mat-card>




</div>
